{% extends "base.twig" %} {% block content %}

<div class="row row-cols-auto gap-2">
  {% for row in data %}
  <div class="card" id="{{ row.id }}" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{ row.author }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        {{ row.title }}
      </h6>
      <p class="card-text">
        {{ row.content }}
      </p>
      <div class="d-flex justify-content-evenly align-items-center">
        <form method="post" action="delete">
          <input
            type="submit"
            class="btn btn-danger"
            name="delete"
            value="Delete"
          />
          <input type="hidden" name="id" value="{{ row.id }}" />
        </form>
        <form method="post" action="update">
          <input type="submit" class="btn btn-info" value="Update" />
          <input type="hidden" name="id" value="{{ row.id }}" />
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
